asgiref==3.5.0
CacheControl==0.12.10
cachy==0.3.0
cleo==0.8.1
clikit==0.6.2
cloudinary==1.29.0
crashtest==0.3.1
dj-database-url==0.5.0
dj3-cloudinary-storage==0.0.6
Django==3.2
django-crispy-forms==1.14.0
django-jazzmin==2.4.9
django-summernote==0.8.20.0
gunicorn==20.1.0
html5lib==1.1
lockfile==0.12.2
msgpack==1.0.3
packaging==20.9
pastel==0.2.1
Pillow==9.0.1
poetry==1.1.13
poetry-core==1.0.8
psycopg2==2.9.3
pylev==1.4.0
pytz==2021.3
shellingham==1.4.0
sqlparse==0.4.2
tomlkit==0.10.0
