
body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    background-color: #fdfdfd;
    
}

.shadow {
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
}

/* .btn-danger {
    color: #fff;
    background-color: #f00000;
    border-color: #dc281e;
} */

/* Navbar Text */
.navbar .navbar-brand {
    color: rgb(22, 206, 22);
    font-weight: bolder;
    text-transform: uppercase;
    /* text-shadow: #1f1d1a; */
}

/* Nav Links */


/* Heading Text */

.site-heading {
    color: rgb(22, 206, 22);
    font-weight: bolder;
    text-transform: uppercase;
    text-shadow: 0 13.36px 8.896px #1f1d1a,0 -2px 1px rgb(56, 49, 49);
}

.head_text {
    color: white;
}

/* 
.card {
    box-shadow: 0 16px 48px #E3E7EB;
} */


/*Jumbotron*/
/* Jumbotron search bar */

.jumbotron {
    background-color: #a5bf36;
    text-align: center;
    padding-top: 10px;
    text-decoration:rgba(0, 0, 0, 0.1);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Search Bar */
.active-cyan-2 input.form-control[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
  }
  .active-cyan input.form-control[type=text] {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
  }
  .active-cyan .fa, .active-cyan-2 .fa {
    color: #4dd0e1;
  }

  /* Jumbotron Header */

  .jumbotron .jumbotron-fluid {
    background-image: url("https://res.cloudinary.com/ann-marie-murphy/image/upload/v1644595504/spices-header_tvf2kh.jpg");
    background-size: cover;
}



/* Postdetail */
.masthead-text {
    color: #fdfdfd;
}

/* Button signup */


.btn-signup {
    background-color: #23bb3c;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

/* Footer */


