{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <title>Bia Simplí Blag</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="static/css/custom.css" rel="stylesheet">
   
</head>

<body class="d-flex flex-column h-100 main-bg">
    
     <!-- Navigation -->

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home' %}">Bia Simplí</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Abhaile</a></li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Oidis
                            Plandaí-Bhunaithe<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Glasraí</a></li>
                            <li><a href="#">Pischineálaigh</a></li>
                            <li><a href="#">Próitéin</a></li>
                            <li><a href="#">Torthaí</a></li>

                        </ul>
                    </li>
                    <li><a href="#">
                            Troscadh</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span>
                            Clarú</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logáil isteach</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="flex-shrink-0 main-bg">
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>
    <!-- Footer -->
    <footer class="footer mt-auto py-3 dark-bg" id="footer-override">
        <p class="m-0 text-center text-white">Bia Simplí Blag</p>
        <p class="m-0 text-center text-white">Follow us: <i class="fab fa-facebook-square ms-3"></i>
            <i class="fab fa-twitter-square ms-3"></i>
            <i class="fab fa-instagram-square ms-3"></i>
            <i class="fab fa-youtube-square ms-3"></i></p> 
    </footer> 

</body>

</html>