{% block sidebar %}

<style>
    .card{
        box-shadow: 0 16px 48px #E3E7EB;
    }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">
            Faoi|About</h5>
    <div class="card-body">
        <p class="card-text">This blog/blag is a space to share Plant-Based Recipies|Oidis Plandaí-Bhunaithe and to share a couple of Irish words|agus cúpla focal Gaeilge a roinnt.
            <p>You will find here cruelty free recipes and you are encouraged to share yours with images please. One condition though, please incorporate a cúpla focal as Gaelige más é do thoil é.</p>
            <p>We also want to direct you to some great Restaurants in Limerick serving delicious vegetarian and vegan food|Bialanna i Luimneach a fhreastalaíonn bia blasta vegetarian agus vegan. </p>
        <a href="#"
           class="btn btn-danger">Iniúchadh!</a>
    </div>
</div>
</div>

{% endblock sidebar %}